body {
    margin: 0px !important;
    padding-top: 0px !important;
    background-color: #e0e0e0 !important;
    font-family: 'Ubuntu', sans-serif !important;
}

nav {
    background-color: rosybrown !important;
}

a {
    text-decoration: none !important;
}

.bg-e0 {
    background-color: #e0e0e0 !important;
}

.fa-star,
.fa-star-half-o {
    color: #FDCC0D;
}

.contentDiv form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rosybrown;
}

footer .copyrightText {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 10px;
}

footer .contactUsButton {
    margin-left: auto;
}

footer .socialMediaLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .socialMediaLinks a img {
    width: 22px !important;
    height: 20px !important;
}

footer .socialMediaLinks {
    margin-left: auto;
}