th {
    border: .5px solid #000;
    text-align: left;
    padding: 8px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 55px !important;
    height: 55px !important;
    color: rosybrown !important;
}