.heroImg {
    width: 150px !important;
    height: 150px !important;
    border-radius: 20px !important;
}
.cityCard {
    margin: 4% 3%;
}
.searchBar {
    background: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg") no-repeat;
    height: 420px;
    background-size: cover;
    background-position: center;
    margin-bottom: 0 !important;
}
.jumbotron .form-inline input {
    width: 300px !important;
    background-color: #f1f1f1 !important;
    border-radius: 12px !important;
}
.contentDiv .hotelImgSection {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentDiv a {
    padding: 5% 1%;
}